
<!DOCTYPE html>
<html lang="en">
<head>
    <title>SQLPAL | @ViewBag.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600,700">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet" href="~/styles/main.css">
</head>
<body id="about">
    <header>
        <div class="container">
            <div class="logo"><a href="/"></a></div>
            <a class="btn" href="@ViewBag.Layout.DocumentSiteLink">Docs</a>
            <ul class="primary-nav">
                <li><a href="/">Get Started</a></li>
                <li><a class="active" href="/about">About</a></li>
                <li><a href="/support">Support</a></li>
                <li><a href="@ViewBag.Layout.DiscussionLink">Discuss</a></li>
            </ul>
        </div>
    </header>

    <section class="content wrap">
        <div class="container">
            @RenderBody()
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="left">
                <div class="logo"><a href="/"></a></div>
                <p>
                    Maintained by China Cloud Innovation Center. <br>
                    &copy;@DateTime.Now.Year Microsoft
                </p>
            </div>

            <ul class="primary-nav">
                <li><a class="active" href="/">Get Started</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/support">Support</a></li>
                <li><a href="@ViewBag.Layout.DiscussionLink">Discuss</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>